<!DOCTYPE html>
<html>

<head>
    <title>Trips</title>
    
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{{ url_for('home') }}" class="navbar-brand">
           
          </a>
                <a class="navbar-brand" href="{{ url_for('home') }}">Trip Planner</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('hotels.index') }}">Hotels</a></li>
                    <li class="active"><a href="{{ url_for('flights.index') }}">Events</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('users.contact_us') }}">Contact</a></li>
                    {% if session['email'] %}
                    <li><a href="{{ url_for('users.user_dashboard') }}" id="dashboard"><span class="glyphicon glyphicon-tasks"></span>  Dashboard</a></li>
                    <li><a href="{{ url_for('users.logout_user') }}"><span class="glyphicon glyphicon-log-out"></span>  Logout</a></li>
                    {% else %}
                    <li><a href="{{ url_for('users.register_user') }}" id="new_user">Register</a></li>
                    <li><a href="{{ url_for('users.login_user') }}" id="old_user">Login</a></li>
                    {% endif %}
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <br>
    <div class="container">
        <div class="page-header">
            <h1 align="center">Your Trip <small> -Organize your trips for a better experience</small></h1>

        </div>
        <a href="{{ url_for('trips.trip_add') }}" class="btn btn-success">
    <span class="glyphicon glyphicon-plus"></span> Create new
    </a>
        {% for v in trips %}
        <div class="panel panel-info">

            <div class="panel-body">
                    <p align="center" class="list-group-item-text">{{v}}</p>
                    <p align="center" class="list-group-item-text">Flying from: {{ v.source }}</p>
                    <p align="center" class="list-group-item-text">Final destination: {{ v.destination }}</p>
                    <p align="center" class="list-group-item-text">Total number of trip days: {{ v.total_days }}</p>
                    <p align="center" class="list-group-item-text">Other Cities in the itinerary: {{ v.first_city }}</p>
                    <p align="center" class="list-group-item-text">Your hotel reservations: {{ v.reservation }}</p>
                    <br>
                    <div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q={{v.destination}}&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                    </iframe><a href="https://www.bitgeeks.net/embed-google-map/"></a></div><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div>
                    <a href="{{ url_for('trips.edit_trip',_id = v._id) }}" class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span> Edit Trip
                </a>
                <a href="{{ url_for('trips.delete_trip', _id = v._id ) }}" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span> Delete Trip
            </a>
            </div>
        </div>
        {% endfor %}


        <br>
        <br>
    </div>
    <footer class="footer">
        <div class="container">
            <p class="text-muted"></p>
        </div>
    </footer>
</body>

</html>
